<main class="container">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path %>
  <div class="header">
    <h1>
      <%= @quote.name %>
    </h1>

    <!-- Add a link to the LineItemDates#new page -->
    <%= link_to "New date",
        new_quote_line_item_date_path(@quote),
        data: { turbo_frame: dom_id(LineItemDate.new) },
        class: "btn btn--primary" %>
  </div>

  <!-- An empty Turbo Frame with the id of new_line_item_date -->
  <%= turbo_frame_tag LineItemDate.new %>

  <!-- Line to render the collection of line item dates -->
  <%= turbo_frame_tag "line_item_dates" do %>
   <%= render @line_item_dates, quote: @quote %>
  <% end %>
</main>